// Define variables for your color scheme

// For example:

$background: #262c49;
$background-shade: rgb(55, 64, 105);
$dark-background: #10163a;
$grey: #5a5f75;
$light-grey: #c2c6dc;
$purple: #6d62e4;
$dark-purple: #3f3a9e;
$red: #e46262;

.text-background {
	color: $background;
}

.text-dark-background {
	color: $dark-background;
}

.text-grey {
	color: $grey;
}

.text-light-grey {
	color: $light-grey;
}

.text-purple {
	color: $purple;
}

.text-dark-purple {
	color: $dark-purple;
}

.text-background-shade {
	color: $background-shade;
}

.text-red {
	color: $red;
}

.bg-background {
	background-color: $background;
}

.bg-dark-background {
	background-color: $dark-background;
}

.bg-grey {
	background-color: $grey;
}

.bg-light-grey {
	background-color: $light-grey;
}

.bg-purple {
	background-color: $purple;
}

.bg-dark-purple {
	background-color: $dark-purple;
}

.bg-background-shade {
	background-color: $background-shade;
}

.border-color-purple {
	border-color: $purple;
}
