// Define variables for your color scheme

// For example:
$blue: #95AAE8;
$darkblue: #3957FF;
$white: #FFFFFF;

.text-blue {
    color: $blue;
}

.text-darkblue {
    color: $darkblue;
}

.text-white {
    color: $white;
}

.bg-blue {
    background-color: $blue;
}

.bg-darkblue {
    background-color: $darkblue;
}

.bg-white {
    background-color: $white;
}