<% if notice %>
  <div class="alert alert-info alert-dismissible py-2 px-3 fade show m-1 d-flex justify-content-between align-items-center" role="alert">
    <%= notice %>
    <%= image_tag "https://svgshare.com/i/xJ1.svg", class: "icon rotate-45", data: { bs_dismiss: "alert" } %>
    </button>
  </div>
<% end %>
