<% @boards.each do |board| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= board.name %></h5>
            <p class="card-text">Description: <%= board.description %></p>
            <%= link_to "Edit", edit_project_path(board), class: "btn btn-primary mr-2" %>
            <%= link_to "Delete", board, class: "btn btn-danger", data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
