<div class="modal fade" id="createBoardModal" tabindex="-1" aria-labelledby="createBoardModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-light-grey bg-dark-background border-0">
        <h5 class="modal-title" id="createProjectBoardLabel">Create Board</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-light-grey bg-dark-background">
        <%= simple_form_for [project, board] do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <div class="modal-footer mx-0 px-0 border-0">
            <%= f.button :submit, class: "main-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
