<% if enable_name %>
    <p class="d-flex justify-content-end text-light-grey mb-0 ms-1"><%= message.user.first_name %> - <span class="ms-1 fs-6 text-light-grey"><%= "#{message.created_at.strftime('%d/%m/%Y %H:%M')}" %></span></p>
<% end %>
<div class="d-flex justify-content-end">
    <div class="bg-purple rounded-2 p-2 mb-2 text-light-grey">
        <%= message.content %>
    </div>
</div>