<% if enable_name %>
    <p class="d-flex justify-content-start text-light-grey mb-0 ms-1"><%= message.user.first_name %></p>
<% end %>
<div class="d-flex justify-content-start">
    <div class="bg-dark-purple rounded-2 p-2 mb-2 text-light-grey">
        <%= message.content %>
    </div>
</div>