.main-btn {
	border-radius: 10px;
	border: 1px solid $purple;
	background-color: $background;
	color: $light-grey;
	font-size: 1rem;
	padding: 0.6rem 1.2rem;
	transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
	&:hover {
		box-shadow: 0 0 40px 40px $purple inset;
	}
	text-decoration: none;
	max-width: max-content;
}

.add-task-btn {
	color: $light-grey;
	font-size: 1rem;
	background-color: $dark-background;
	transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
	&:hover {
		box-shadow: 0 0 40px 40px $purple inset;
	}
}

.label-checkbox {
	// same style as buttons c bo tr bo magnifique meme super bo
	margin-top: 0;
	border: 1px solid $purple;
	background-color: $background;
	color: $light-grey;
	font-size: 1rem;
	padding: 0.6rem;
	transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
	&:checked {
		background-color: $purple;
		color: $background;
	}
	text-decoration: none;
}