// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.min-viewport-30 {
	min-height: 30vh;
}

.form-input {
	border-radius: 10px;
	border: 1px solid $purple;
	background-color: $background;
	color: $light-grey;
	font-size: 1rem;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	min-width: 100%;
	&:focus {
		outline: none;
	}
}

.project-card {
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $background-shade;
	}
}

.logo {
	height: 50px;
	width: 72px;
	object-fit: cover;
}

.icon {
	height: 30px;
	width: 30px;
}
