// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.min-viewport-30 {
	min-height: 30vh;
}

.min-viewport-fill-screen {
	min-height: calc(100vh - 100px);
	min-height: 30vh;
}

/* Adjusted width to 20% */
.width-1-5 {
	width: 18vw; /* 20% of the viewport width */
	flex: 0 0 18vw; /* Set the flex properties to control growth and shrinking */
}

.form-input {
	border-radius: 10px;
	border: 1px solid $purple;
	background-color: $background;
	color: $light-grey;
	font-size: 1rem;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	min-width: 100%;
	&:focus {
		outline: none;
	}
}

.form-input-msg {
	border-radius: 10px;
	border: 1px solid $purple;
	background-color: $background;
	color: $light-grey;
	font-size: 1rem;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	width: 100%;
	&:focus {
		outline: none;
	}
}

.project-card {
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $background-shade;
	}
}

.logo {
	height: 50px;
	width: 72px;
	object-fit: cover;
}

.icon {
	height: 30px;
	width: 30px;
}

.icon-task {
	height: 20px;
	width: 20px;
}

.task-container {
	position: relative;
}

.icons {
	visibility: hidden;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	display: flex;
	gap: 10px;
	z-index: 1;
}

.task-container:hover .icons {
	visibility: visible;
}

.rotate-45 {
	transform: rotate(45deg);
}

.modal-opened-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	outline: 0;
}

.modal-opened-header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.modal-opened-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.feature-card {
	transition: background-color 0.3s ease;
	background-color: $dark-background;
	margin-bottom: 3rem;
	padding: 1rem;
	border-radius: 10px;
	color: $light-grey;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.feature-icon {
	height: 250px;
}

.feature-text {
	max-width: 50%;
	text-align: center;
	font-size: 1.5rem;
}

input#Color_field_button {
	background-color: $background;
	min-width: 10%;
	border: 1px solid $purple;
	color: $light-grey;
	font-size: 1rem;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	&:focus {
		outline: none;
	}
}


.my-message {
	background-color: $background;
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1rem;
}

.other-message {
	background-color: $background-shade;
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1rem;
}

.assignee {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	object-fit: cover;
}

.alert-info {
	color: $light-grey;
	background-color: $dark-background;
	border-color: $purple;
}